@media (min-width: 411px) and (max-width: 575.98px){
    video {
        /* min-width: 100%; */
        width: 100% !important;
        height: auto !important;
    }
    .slider {
        width: 100% !important;
        height: 32vh !important;
    }

    .left-side {
        width: 80px !important;
        height: 32vh !important;
    }
}
